

body{
    

    background-image: url("b1.jpg"); 
    background-size: cover;
}

.item{
    padding-top: 20%;

    border-width: 5px 0;   
    border-top : solid 2px #b9b9b9;
}

.form-control{
    border-radius: 10px;
    border:solid 1px pink;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-control:focus{
    border: solid 1px #7fcdd3;
    box-shadow: none;
}

.glyphicon{
    
    margin-left: 100px;
}



.btn-blue{
    background-color: #7fcdd3;
    width: 10px;
}

.btn-blue:hover{
    background-color:  #2d9ea7;

}
.btn-yellow:hover{
    background-color: #e29e1f;
    width: 10px;
}
.btn-yellow{
    background-color: #e2b51f;
    position: relative;
    margin-left: -10px;
}
.btn-green{
    background-color: #89e241;
    width: 10px;
}
.btn-green:hover{
    background-color: #6ab131;
}
.pencil:hover{
    color:  #2d9ea7;
}
.share:hover{
    color : #6ab131;
}

.glyphicon:empty{
    width: auto;
}

.glyphicon:hover{
    color: white;
}

.box{
    padding: 30px;

    width : 70%;
   
    margin: 120px;
    background: white;
    -webkit-box-shadow: -1px -5px 30px -10px rgba(99,95,99,1);
    -moz-box-shadow: -1px -5px 30px -10px rgba(99,95,99,1);
    box-shadow: -1px -5px 30px -10px rgba(99,95,99,1);
}

.titre{
    font-size: 1.5em;
    color: grey;
   
    text-align: center;
}

.name{
    font-size: 1em;
    color: grey;
}

  .trash:hover{
    color: rgb(235, 78, 104);
    cursor: pointer;
}

.footer{
    position : fixed;
    bottom : 0px;
    left: 0px;
   
    background : white;
    padding: 5px 0px 5px 0px;
    width : 100%;
    -webkit-box-shadow: -1px 3px 32px -8px rgba(99,95,99,1);
    -moz-box-shadow: -1px 3px 32px -8px rgba(99,95,99,1);
    box-shadow: -1px 3px 32px -8px rgba(99,95,99,1);
}

.grey{
    color: grey;
    
}
 .grey:hover{
     color:#7fcdd3;
     cursor: pointer; 
 }

 .card-header, .card-footer{
    background-color: white;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;
 }
 .ajoutListe{
    margin-left: 10px;
 }

 .btn{
    color: rgb(150, 148, 148);
 }
 .btn-deco{
    border-radius: 40px;
    background-color: #e64646;
    color: white;
 }

 .btn-deco:hover{
    background-color: #be2a2a;
    color: lightgrey;
 }

 .btn-rd{
    border-radius: 40px;
    color: white;
    margin-top: 50%;
}
.btn-footer{
    margin-top : 5%;
}

.btn-co{
    margin-top : 0px;
}

.co{
    width: 50%;
}